*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#111;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:black;
}

.logo{
color:gold;
font-size:24px;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:white;
}

nav a:hover{
color:gold;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
background:#222;
}

.menu-container{
display:flex;
gap:30px;
padding:40px;
}

.card{
background:#333;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 10px 20px gold;
}

.card img{
width:250px;
height:200px;
object-fit:cover;
}
